<div class="jumbotron">
  <p class="lead">
    <img src="images/todologo.png" alt="I'm Yeoman"><br>
    Always reminding you what to do.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/todolist">Start with your list! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>TodoList</h4>
  <p>
    Please write your mustDo-things so you can remember what you have to do during your day.
  </p>

  <h4>
    Leonardo Enzo Marcani & Marcus Simmesgård.
  </h4>

</div>
