<div class="container">
  <h4 class="textboard">Welcome to our Digital Whitebord!. Feel free to add your sticky notes!</h4>

  <form role="form" ng-submit="add(todo)">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What's next?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add Note">
        </span>
      </div>
    </div>
  </form>

  <p></p>

</div>

<div ui-sortable ng-model="todos" class"todost">
  <ul class="input-group2" ng-repeat="todo in names" ng-style="{'background-color':todo.color.name}">
    <li class="stickycontainer">
      <div>
        <input type="text" ng-model="todo.name" class="form-control">

<!--   <div rows="4" cols="25" ng-model="todo.textarea" >{{todo.textarea}}</div> -->
        <textarea class="textarea" rows="4" cols="25" ng-model="todo.textarea"></textarea>

        <span class="glyphicon glyphicon-refresh" ng-click ="put(todo.id, todo.name, todo.color, todo.textarea)"></span>
        <span class="glyphicon glyphicon-remove" ng-click ="delete(todo.id)"></span>

        <select ng-model="todo.color" ng-options="color.name for color in colors">
        <option value="">Colors</option>
        </select><br/>
      </div>
    </li>    
  </ul>
</div>
 